.card-description {
  font-weight: normal;
  line-height: 24px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.read-more-link {
  color: blueviolet;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}
.card-title {
  border-bottom: 1px solid gray;
}
* {
  margin: 0;
}
.card {
  width: 32%;
  margin: 90px auto;
  border: 1px solid #000000;
  border-radius: 5px;
}
.card-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card-content {
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 20px;
  padding-bottom: 20px;
}
